<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="donatemapper">
	<insert id="insert" parameterType="DonateDto">
		INSERT INTO DONATE
		VALUES(DONATESEQ.NEXTVAL, #{donate_name}, #{donate_phone}, #{donate_type}, #{donate_pay}, SYSDATE)
	</insert>
	<select id="selectOne" resultType="DonateDto">
		SELECT DONATE_NO, DONATE_NAME, DONATE_PHONE, DONATE_TYPE, DONATE_PAY, DONATE_DATE
		FROM DONATE
		ORDER BY DONATE_NO DESC
	</select>
	<select id="paginglist" parameterType="map" resultType="DonateDto">
	<![CDATA[
		SELECT B.DONATE_NO, B.DONATE_NAME, B.DONATE_PHONE, B.DONATE_PAY, B.DONATE_DATE FROM
		(SELECT ROWNUM AS RNUM, A.DONATE_NO, A.DONATE_NAME, A.DONATE_PHONE, A.DONATE_PAY, A.DONATE_DATE FROM
		(SELECT DONATE_NO, DONATE_NAME, DONATE_PHONE, DONATE_PAY, DONATE_DATE FROM DONATE
		WHERE DONATE_PHONE = #{donate_phone}
		ORDER BY DONATE_NO DESC) A
		WHERE ROWNUM <= #{endRow}) B
		WHERE B.RNUM > #{startRow}
		]]>
	</select>
	<select id="count" resultType="String">
		SELECT COUNT(*) FROM DONATE
		WHERE DONATE_PHONE = #{donate_phone}
	</select>
</mapper>