<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="loginmapper">


 <select id="login" resultType="LoginDto">
 SELECT MEM_NO, MEM_ID, MEM_PW, MEM_NAME, MEM_NICKNAME , 
 MEM_PHONE, MEM_ADDR, MEM_EMAIL, MEM_ENABLED, MEM_ROLE,MEM_IMAGE
 FROM LOGINBOARD 
 WHERE MEM_ID = #{mem_id}
 AND MEM_PW = #{mem_pw}
 
 
 
 
 </select>
 
  
  <select id="idchk" resultType="int" parameterType="String">
  SELECT COUNT(*)
  FROM LOGINBOARD 
  WHERE MEM_ID = #{mem_id}
  
  
  
  </select>
  
  <insert id="insertUser" parameterType="LoginDto">
  	INSERT INTO LOGINBOARD
  	VALUES(LOGINSEQ.NEXTVAL,#{mem_id},#{mem_pw},#{mem_name},#{mem_nickname},#{mem_phone},
  	#{mem_addr},#{mem_email},'Y','USER',#{mem_image, jdbcType=VARCHAR})
  
  
  </insert>
  
  

  
  
  
  
  
  
  
  
  
  
</mapper>
