<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<properties resource="com/db/db.properties"></properties>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>



	<typeAliases>
		<typeAlias type="com.dto.LoginDto" alias="LoginDto" />
		<typeAlias type="com.dto.BoardDto" alias="BoardDto" />
		<typeAlias type="com.dto.DonateDto" alias="DonateDto" />
		<typeAlias type="com.dto.ChecklistDto" alias="ChecklistDto"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>


	<mappers>
		<mapper resource="com/db/login-mapper.xml" />
		<mapper resource="com/db/board-mapper.xml" />
		<mapper resource="com/db/file-mapper.xml" />
		<mapper resource="com/db/donate-mapper.xml" />
		<mapper resource="com/db/checklist-mapper.xml"/>	
	</mappers>

</configuration>
