<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="petmapper">

	<select id = "selectList" parameterType="int" resultType="PetDto">
		SELECT ARTICLE_NO, MEM_WRITER, PET_TITLE, PET_CONTENT, PET_REGDATE, PET_HIT 
		FROM PETBOARD
		WHERE BRD_NO = 2 OR BRD_NO = 3
		ORDER BY ARTICLE_NO DESC
	</select>
	
	<select id = "select2" parameterType="int" resultType="PetDto">
		SELECT ARTICLE_NO, MEM_WRITER, PET_TITLE, PET_CONTENT, PET_REGDATE, PET_HIT 
		FROM PETBOARD
		WHERE BRD_NO = 2
		ORDER BY ARTICLE_NO DESC
	</select>
	
	<select id = "select3" parameterType="int" resultType="PetDto">
		SELECT ARTICLE_NO, MEM_WRITER, PET_TITLE, PET_CONTENT, PET_REGDATE, PET_HIT 
		FROM PETBOARD
		WHERE BRD_NO = 3
		ORDER BY ARTICLE_NO DESC
	</select>
	
	
	<resultMap type="petDto" id="petMap">
		<result property = "article_no" column = "ARTICLE_NO" />
		<result property = "brd_no" column = "BRD_NO" />
		<result property = "mem_writer" column = "MEM_WRITER"/>
		<result property = "pet_title" column = "PET_TITLE"/>
		<result property = "pet_content" column = "PET_CONTENT" />
		<result property = "pet_regdate" column = "PET_REGDATE" />
		<result property = "pet_hit" column = "PET_HIT" />
	</resultMap>
	
	<select id = "selectOne" parameterType="int" resultMap="petMap">
		SELECT ARTICLE_NO, MEM_WRITER, PET_TITLE, PET_CONTENT, PET_REGDATE, PET_HIT FROM PETBOARD WHERE ARTICLE_NO = #{article_no}
	</select>

	<insert id = "insert" parameterType="petDto">
		INSERT INTO PETBOARD
		VALUES(PETBOARDSEQ.NEXTVAL, 2, '사용자', #{pet_title}, #{pet_content}, SYSDATE, 3)
	</insert>
	
	<insert id = "insertWait" parameterType="petDto">
		INSERT INTO PETBOARD
		VALUES(PETBOARDSEQ.NEXTVAL, 3, '사용자', #{pet_title}, #{pet_content}, SYSDATE, 3)
	</insert>
	
	<update id = "update" parameterType="petDto">
		UPDATE PETBOARD SET PET_TITLE = #{pet_title}, PET_CONTENT = #{pet_content} WHERE ARTICLE_NO= #{article_no}
	</update>
	
	<delete id="delete" parameterType="petDto">
		DELETE FROM PETBOARD WHERE ARTICLE_NO = #{article_no}
	</delete>

</mapper>