.topbar-profile-photo {
    width: 32px;
    height: 32px;
    position: relative;
}

.link-menu {
    color: black;
}

body{
	overflow-y:scroll;
}

* {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
}