@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body{
	overflow-y:scroll;
}

header {
  z-index: 3;
  position: fixed;
  background: rgb(255,255,255);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

header.sticky{
  background: #f5df4e;
  padding: 10px 200px;
}

header .brand{
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation{
  position: relative;
  text-align: center;
}
header .navigation a {
  color: black;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px; 
}

header .navigation a:hover{
  color: #f5df4e;
}

header.sticky .navigation a:hover{
  color:#000;
}

.upsite{
	width: 100%;
	height: 75px;
}

/* 액션바  */

.action1{
	position: fixed;
    top: 20px;
    right: 100px;
}

.action1 .profile{
    position: relative;
    width: 32px;
    height: 32px;
    display : inline-block;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer
}

.action1 .profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action1 .menu{
    position: absolute;
    top: 20px;
    right: -20px;
    padding: 10px 20px;
    background: #939895;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action1 .menu.active{
    top: 60px;
    visibility: visible;
    opacity: 1;
}

.action1 .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #939895;
    transform: rotate(45deg);
}

.action1 .menu h7{
	display : block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    color: #555;
    line-height: 1.2em;
}

.action1 .menu h7 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}

.action1 .menu ul li
{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(255,255,255,0.05);
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.action1 .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action1 .menu ul li:hover img{
    opacity: 1;
    color : #f5df4e;
}

.action1 .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
.action1 .menu ul li:hover a{
    color: #f5df4e;
}




